<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
<link rel="icon" href="https://banner2.kisspng.com/20180402/cyw/kisspng-bourbon-whiskey-old-fashioned-scotch-whisky-jameso-whiskey-5ac2b4cf8eb666.1018153215227097115846.jpg"></link>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/webjars/jquery-validation/1.13.0/jquery.validate.js"></script>

<style>

p, label, a, span, i, b, div{
	font-family: cursive;
}

.modal-dialog{
	width: 700px!important;
}

</style>

<script>

function mostrarDivIng(id){
	$("#divIng"+id).show();
	var i = id-1;
	$("#i"+i).hide();
	$("#ing"+id).prop('disabled', false);
	$("#medIng"+id).prop('disabled', false);
	
}
</script>