<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<body>

		<div th:if="${pantallaActual == 'tragosRecomendados'}">
			<h2 style="margin-top: 0px">Tragos recomendados para vos</h2>
			<hr style="border-top:3px solid #6e6b6b; margin-top: 10px;"></hr>
		</div>
	
		<div class="col-xs-4 panel panel-default" th:each="trago : ${tragos}" style="padding-left: 0px; min-height:370px ">
			<h3 th:inline="text" style="text-align: center; margin-top: 10px">[[${trago.nombre}]] <small th:if="${trago.tragoAutor}">(Trago de autor)</small></h3>
			<div class="col-xs-6">
				<img th:src="@{${trago.imagen}}" alt="Imagen no disponible" style="max-width: 100%; height: 175px; border: 1px solid #000!important; margin-bottom: 10px "></img>
				<p>Creado por: <label th:text="${trago.usuario.username}"></label></p>
				<div th:id="'botoneraTrago' + ${trago.id}" th:if="${loggedUser}">
					<button type="button" class="btn btn-primary btn-sm col-xs-3" th:if="${loggedUser.id != trago.usuario.id}" style="margin: 0 10px 10px 0" title="Puntuar" th:onclick="'mostrarPuntuarTrago(\'' + ${trago.id} + '\');'">
						<i class="fa fa-star-o"></i>
					</button>
					<button type="button" class="btn btn-primary btn-sm col-xs-3" th:if="${loggedUser.id == trago.usuario.id}" style="margin: 0 10px 10px 0" title="Editar" th:onclick="'editarTrago(\'' + ${trago.id} + '\');'">
						<i class="fa fa-pencil"></i>
					</button>
					<button type="button" class="btn btn-primary btn-sm col-xs-3" title="Ver pasos" style="margin: 0 10px 10px 0">
						<i class="fa fa-list-ul"></i>
					</button>
					<button type="button" class="btn btn-primary btn-sm col-xs-3" title="Consejos" style="margin: 0 10px 10px 0" th:onclick="'consejosTrago(\'' + ${trago.id} + '\');'">
						<i class="fa fa-comment-o"></i>
					</button>
					<button type="button" class="btn btn-danger btn-sm col-xs-3" th:if="${loggedUser.id == trago.usuario.id}" th:onclick="'eliminarTrago(\'' + ${trago.id} + '\');'" title="Eliminar trago" >
						<i class="fa fa-trash-o"></i>
					</button>
				</div>
				<div th:id="'puntuarTrago' + ${trago.id}" style="margin-top: 10px; width: 100%; float: left; position: relative; display: none">
					<form th:id="'formPuntuarTrago' + ${trago.id}" class="formPuntuar">
						<i th:onclick="'puntuarTrago(\'' + ${trago.id} + '\');'" class="fa fa-check-circle" style="font-size:25px; color: green; margin-left: 10px; cursor: pointer;"></i>
						<i th:onclick="'mostrarPuntuarTrago(\'' + ${trago.id} + '\');'" class="fa fa-times-circle" style="font-size:25px; color: red; margin-left: 10px; cursor: pointer;"></i>
						<input th:id="'puntuacionTrago' + ${trago.id}" class="col-xs-6" type="number" name="puntuacion" required="required" min="0" max="10"/>
						<input type="hidden" name="idTrago" th:value="${trago.id}"/>
						<div class="errorTxt"></div>
					</form>
				</div>
			</div>
			<div class="col-xs-6">
				<p>Vaso recomendado: <label th:text="${trago.vaso}"></label></p>
				<p>Graduación: <label th:text="${trago.graduacion}+'%'"></label></p>
				<p>Puntuación: <label th:text="${trago.puntuacion}"></label></p>
				<p>Ingredientes:</p>
				<p style="margin: 0" th:each="ingrediente:${trago.ingredientes}"><label th:text="${ingrediente.medida}+'% '+${ingrediente.nombre}"></label></p>
			</div>
		</div>
		<div id="divEditarModal"></div>
		<div id="divConsejosModal"></div>
	</body>
	
	<script type="text/javascript">
	$.validator.messages.min = "Valor entre 0 y 10";
	$.validator.messages.max = "Valor entre 0 y 10";
	
	$.validator.messages.required = "Este campo es requerido";
	
	function mostrarPuntuarTrago(id){
		$("#botoneraTrago"+id).toggle();
		$("#puntuarTrago"+id).toggle();
		$("#puntuacionTrago"+id).focus();
	}
	
	function puntuarTrago(id){
		if($("#formPuntuarTrago"+id).valid()){
			$.ajax({
			    type: 'POST',
			    url: "/agregar-puntuacion/",
				data: $("#formPuntuarTrago"+id).serialize(),
			    success: function (data) {
			    	if(data == "OK"){
			    		alert("¡Gracias por dejar tu opinión!");
			    		location.reload();
			    	}
			    }
			});
		}
	}
	
	function consejosTrago(id){
		$.ajax({
		    type: 'POST',
		    url: "/consejos-trago/",
		    data: "idTrago="+id,
		    success: function (data) {
		    	$("#divConsejosModal").html(data);
		    	$("#consejosModal").modal();
		    }
		});
	}
	
	function editarTrago(id){
		$.ajax({
		    type: 'POST',
		    url: "/editar-trago/",
		    data: "idTrago="+id,
		    success: function (data) {
		    	$("#divEditarModal").html(data);
		    	$("#editarTragoModal").modal();
		    }
		});
	}
	
	function eliminarTrago(id){
		var r = confirm("¿Desea eliminar este trago?");
		if (r == true) {
			$.ajax({
			    type: 'POST',
			    url: "/eliminar-trago/",
				data: "idTrago="+id,
			    success: function (data) {
			    	if(data == "OK"){
			    		alert("Trago eliminado correctamente.");
			    		location.reload();
			    	}
			    }
			});
		} 
	}
	</script>
</html>