<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<body>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>CUIT</th>
					<th>Razon Social</th>
					<th>Telefono</th>
					<th>Email</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="prov : ${proveedores}">
					<td th:text="${prov.nombre}"></td>
					<td th:text="${prov.cuit}"></td>
					<td th:text="${prov.razonSocial}"></td>
					<td th:text="${prov.telefono}"></td>
					<td th:text="${prov.email}"></td>
					<td><button class="btn-sm btn-primary" th:onclick="'modificarProveedor(' + ${prov.id} + ')'">Modificar</button></td>
					<td><button class="btn-sm btn-danger" th:onclick="'eliminarProveedor(' + ${prov.id} + ')'">Eliminar</button></td>
				</tr>   
			</tbody>
		</table>
	</body>
	<script type="text/javascript">
	function eliminarProveedor(id){
		$.ajax({
		    type: 'GET',
		    url: "/eliminar-proveedor/",
		    data: "id="+id,
		    success: function (data) {
		    	window.location.href = "http://localhost:8081/proveedores";
		    }
		});
	}
	function modificarProveedor(id){
		window.location.href = "http://localhost:8081/modificar-proveedor/"+id;
	}
	</script>
</html>