<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<div th:replace="cssYJs"></div>
	<title>Wikidrinks</title>
</head>
<body>
	<div th:replace="header"></div>
	<div id="contenidoHome" style="text-align: center;" class="col-xs-12">
		<h4>BIENVENIDO</h4>
		<h2>WIKIDRINKS</h2>
	</div>
<!-- 	<div id="loginHome" style="text-align:center; display: none;" class="col-xs-12"> -->
<!-- 		<form id="form"> -->
<!-- 			<h4>LOG IN</h4> -->
<!-- 			<label class="col-xs-12 form-group">USUARIO/EMAIL</label> -->
<!-- 			<input class="col-xs-2 col-xs-offset-5 form-group" type="text" name="userMail"/> -->
<!-- 			<label class="col-xs-12 form-group">CONTRASEÑA</label> -->
<!-- 			<input class="col-xs-2 col-xs-offset-5 form-group" type="password" name="pass"/> -->
<!-- 			<span onclick="loguearse()" class="btn btn-primary col-xs-2 col-xs-offset-5 form-group" style="margin-top: 30px">Iniciar sesión</span> -->
<!-- 		</form> -->
<!-- 	</div> -->
	<div style="text-align: center">
		<img src="https://images.clarin.com/2015/03/21/Byj7YWJNg_930x525.jpg"></img>
	</div>
</body>
<script type="text/javascript">
function loguearse(){
	$.ajax({
	    type: 'POST',
	    url: "/validar-login",
	    data: $("#form").serialize(),
	    success: function (data) {
	    	if(data == "OK"){
	    		window.location.href = "http://localhost:8080/inicial";
	    		$.ajax({
				    type: 'POST',
				    url: "/loguear-usuario/",
					data: $("#form").serialize(),
				    success: function (user) {
			    		sessionStorage.setItem("loggedUser", user);
				    }
				});
	    	}else{
	    		alert(data);
	    	}
	    }
	});
}
</script>
</html>