<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
<title>Modificar Comprobante</title>
</head>
<body>
<h2 class="col-xs-12" style="text-align: center;" th:text="'COMPROBANTE N° '+ ${comprobante.id}"></h2>
<div class="panel panel-default col-xs-11" style="margin: 20px; font-size: 20px">
	<div class="panel-body">
	<form id="form" action="#" th:action="@{/guardar-comprobante}" th:object="${comprobante}" method="post">
	<input type="hidden" th:field="*{id}"/>
	<div class="col-xs-12 form-group">
		<div class="col-xs-4 form-group">
			Fecha:
			<input type="text" th:value="${#dates.format(comprobante.fecha, 'dd-MM-yyyy')}" readonly="readonly"/>
		</div>
		<div class="col-xs-4 form-group">
			Proveedor:
			<input type="text" th:field="*{proveedor.nombre}" readonly="readonly"/>
		</div>
		<div class="col-xs-4 form-group">
			Cuit:
			<input type="text" th:field="*{proveedor.cuit}" readonly="readonly"/>
		</div>
	</div>
	<div class="col-xs-12 form-group">
		<div class="col-xs-3 form-group">
			Estado:
			<input type="text" th:field="*{estado}"/>
		</div>
		<div class="col-xs-3 form-group">
			Importe:
			<input type="text" th:field="*{importe}" />
		</div>
		<div class="col-xs-6 form-group">
			Observaciones:
			<textarea th:field="*{observaciones}" style="width: 500px"></textarea>
		</div>
	</div>
	<button type="submit" style="float: right;" class="btn btn-lg btn-primary">Guardar</button>
	</form>
	</div>
	<div>
 	<a href="http://localhost:8081/inicial">Volver</a>
 	</div>
</div>
</body>
</html>