<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<div th:replace="cssYJs"></div>
	<title>Wikidrinks</title>
</head>
<body>
  <div th:replace="header"></div>
  <div class=".panel-default"  style="text-align: center; font-size: 20px" th:if="${loggedUser == null}" ><label>Regístrese o Inicie Sesión</label></div>
  <div style="text-align: center">
	<img src="https://images.clarin.com/2015/03/21/Byj7YWJNg_930x525.jpg"></img>
  </div>
    
</body>
 
 	<script type="text/javascript">
	 	function listaTragos(){
	 		window.location.href = "http://localhost:8080/tragos";
	 	}
 	</script>
 
	<style>
	
	.panel-default{
	    font-size: 20px;height: 150px;padding: 50px;margin-right: 5px;cursor: pointer;
	}
	
	.panel-default > i{
		font-size: 50px;
	}
	
	.panel-default > label{
		float: right;font-variant: all-small-caps;font-family: cursive;font-size: 30px;cursor: pointer;
	}
	
	</style>
</html>
