<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<div th:replace="cssYJs"></div>	
	<title th:inline="text">Perfil - [[${usuario.username}]]</title>
</head>
<body>
	<div th:replace="header"></div>
	<div class="col-xs-12 form-group">
		<div class="col-xs-3">
			<i class="fa fa-user-circle-o" style="font-size:20em" aria-hidden="true"></i>
		</div>
	    <div class="panel panel-default col-xs-6" style="padding: 0">
		  <div class="panel-heading" style="font-size: 20px"><b>Datos personales</b></div>
		  <div class="panel-body" th:inline="text" style="font-size: 20px">
		  	<p><b>Usuario:</b> [[${usuario.username}]]</p>
		  	<p><b>Nombre:</b> [[${usuario.nombre}]] [[${usuario.apellido}]]</p>
		  	<p th:if="${loggedUser.id == usuario.id}"><b>Teléfono:</b> [[${usuario.telefono}]]</p> 
		  	<p th:if="${loggedUser.id == usuario.id}"><b>Dirección:</b> [[${usuario.direccion}]]</p>
		  	<p><b>Email:</b> [[${usuario.mail}]]</p>
		  </div>
	  	</div>
	</div>
	<div class="col-xs-12">
	    <div class="panel panel-default col-xs-12" style="padding: 0">
		  <div class="panel-heading" style="font-size: 20px">
		  	<b style="margin-right: 20px">Mis tragos</b>
		  	<button th:if="${loggedUser}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#nuevoTragoModal" style="margin-right: 10px">
				Nuevo Trago
			<i class="fa fa-glass"></i>
			</button>
		  </div>
			  <div class="panel-body" th:replace="listaTragos">
							  
			  </div>
	    </div>
	</div>
</body>
</html>