<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
<title>Proveedores</title>
</head>
<body>
<h2 class="col-xs-12" style="text-align: center;">PROVEEDORES</h2>
<div class="panel panel-default col-xs-11" style="margin: 20px; font-size: 20px">
	<div class="panel-body">
	<form id="form">
		CUIT:
		<input type="text" name="cuit"/>
		<span onclick="filtrar();" class="btn btn-primary">Filtrar</span>
		<span onclick="nuevoProv();" class="btn btn-primary" style="width: 180px">Nuevo proveedor</span>
	</form>
	</div>
	<div>
 	<a href="http://localhost:8081/inicial">Volver</a>
 	</div>
</div>
<div id="tablaProveedores" class="col-xs-12"></div>
</body>

<script type="text/javascript">
	listar();
	function listar(){
		$.ajax({
		    type: 'POST',
		    url: "/listar-proveedores",
		    success: function (data) {
		       $('#tablaProveedores').html(data);
		    }
		});
	}
	function filtrar(){
		$.ajax({
		    type: 'POST',
		    url: "/filtrar-proveedores/",
			data: $("#form").serialize(),
		    success: function (data) {
		       $('#tablaProveedores').html(data);
		    }
		});
	}
	function nuevoProv(id){
		window.location.href = "http://localhost:8081/nuevo-proveedor";
	}
</script>
<style>
.btn{
	width: 150px;
    font-size: 17px;
    height:40px;
    margin-right:20px;
    margin-left:20px;
}
</style>
</html>